{% load bootstrap4 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="/">vms <i class="fa-solid fa-people-group fa-2xl"></i></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
 
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
         {% if request.user.is_authenticated %}
         <ul class="navbar-nav mr-auto">

             <li class="nav-item">
                 <a class="nav-link" href="{% url 'users:dashboard' %}">Dashboard</a>
             </li>
             {% if request.user.is_superuser %}
             <li class="nav-item">
                 <a class="nav-link" href="/admin">Admin</a>
             </li>
             {% endif %}
             <li class="nav-item">
                <a class="nav-link" href="{% url 'users:edit_account' %}">Account</a>
            </li>
             
         </ul>
         {% endif %}
         <span>
             {% if request.user.is_authenticated %}
             <a href="/accounts/logout/" class="btn btn-danger">Logout</a>
             Hello, 
             <i>{{user.first_name}}{{user.last_name}}</i>
             {% endif %}
         </span>
     </div>
 </nav>